.menu ul {
    display: flex;
    list-style: none;
    font: var(--button);
}

.menu ul a{
    text-decoration: none;
    margin: 0 5px;
    color: var(--color-black);
}

.menu ul a:hover{
    color: var(--color-secunary);
}

@media  screen and (max-width: 600px) {
    .menu {
        display: none;
    }
   
   }